html {
    font-size: 16px;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'poppins', sans-serif;
}

::-webkit-scrollbar {
    width: 4px;
    background: transparent;
}

::-webkit-scrollbar-track {
    background: transparent;
    -webkit-appearance: none;
}

::-webkit-scrollbar-thumb {
    background: #666464;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
    background: #474444;
    transition: 1.2s;
}

body {
    height: 250vh;
    background: linear-gradient(135deg, #000, #0f0f0f, #1a1919);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#loader {
    position: absolute;
    left: 55%;
    top: 55%;
    z-index: 10;
    width: 50px;
    height: 50px;
    margin: -76px 0 0 -76px;
    border: 2px solid transparent;
    border-radius: 50%;
    border-top: 2px solid yellow;
    border-bottom: 2px solid yellow;
    animation: spin 1.2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#myDiv1 {
    display: none;
}

#myDiv2 {
    display: none;
}

#myDiv3 {
    display: none;
}

.blur {
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(6px);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    margin-top: 30px;
    padding: 4rem 4rem;
}


/* PAge Navigation */

.nav-bar {
    width: 8%;
    min-width: 90px;
    height: 100vh;
    background: url("img/lists.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px 20px;
}

.nav-bar .nav-logo h1 {
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-family: 'poppins', sans-serif;
    text-transform: lowercase;
    font-size: 15px;
    text-align: center;
    padding-left: 25%;
}

.nav-logo {
    background: transparent;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
}

.nav-bar .nav-logo img {
    width: auto;
    height: 60px;
}

.nav-bar .nav-items {
    background: transparent;
    padding: 5px 5px;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.nav-bar .nav-items button {
    height: 40px;
    font-weight: 600;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: transparent;
    outline: transparent;
    transition: transform .3s;
}

.nav-bar .nav-items button:hover {
    transform: translateX(5px)
}

.nav-bar .nav-items button a {
    padding: 20px 20px;
    color: #8a8989;
    text-decoration: none;
}

.nav-bar .nav-items button a:hover {
    color: #fff;
}


/* Main player content */

.main .player-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: 30;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: none;
    animation-name: overlay;
    animation-duration: .25s;
    animation-timing-function: ease-in-out;
}

@keyframes overlay {
    from {
        width: 50%;
        height: 50%;
        border-radius: 50%;
        top: 30%;
        left: 30%;
    }
    to {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

.main .player-overlay button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #8a8989;
    background: transparent;
    position: absolute;
    outline: transparent;
    top: 33.5%;
    left: 36.5%;
}

.main .player-overlay button i {
    font-size: 30px;
    color: #8a8989;
    padding: 30px 30px;
}

.main .player-overlay button i:hover {
    color: #fff;
    cursor: pointer;
}

.main .player-overlay button:hover {
    border: 3px solid #fff;
    color: #fff;
}

.main {
    position: absolute;
    top: 0;
    width: 28%;
    min-width: 350px;
    height: 50%;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.2);
    overflow: hidden;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 20;
}

.main-container {
    margin-left: 60px;
    width: 400px;
    padding: 5px 5px;
    background: transparent;
    height: 87vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main-container .extras {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 10px 10px;
    top: 25%;
    border-radius: 15px;
    background: transparent;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0);
}

.main-container .extras .extras-items {
    width: 100%;
    height: 20%;
    max-width: 320px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    background: #ffffff;
    border: 1px solid #fff;
    border-radius: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.main-container .extras .extras-items:first-child {
    background: url("img/pods.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 38%;
}

.main-container .extras .extras-items:first-child a {
    color: #fff;
}

.main-container .extras .extras-items:first-child i {
    padding: 10px 10px;
}

.main-container .extras .extras-items:first-child i:hover {
    color: #fff;
    transition: .1s;
    font-size: 20px;
}

.main-container .extras .extras-items:nth-child(2) {
    background: url("img/lists.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 38%;
    z-index: 40;
}

.main-container .extras .extras-items:nth-child(2) a {
    color: #fff;
}

.main-container .extras .extras-items:nth-child(2) i {
    color: red;
    padding: 10px 10px;
}

.main-container .extras .extras-items a {
    color: #666464;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    font-weight: 600;
    transition: transform .3s;
}

.main-container .extras .extras-items a:hover {
    transform: translateX(10px);
}

.main-container .extras .extras-items i:hover {
    cursor: pointer;
    font-size: 20px;
    transition: .1s;
}

.main .top-bar .options {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-70px);
    transition: .5s;
}

.main .top-bar .active2 {
    transform: translateY(0px);
}

.main .top-bar .options button {
    margin: 0 10px;
    height: 30px;
    width: 30px;
    font-size: 12px;
    color: #fff;
}

.main .top-bar {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    position: absolute;
    top: 10%;
}

.main .top-bar button {
    z-index: 20;
    height: 40px;
    width: 40px;
    border-radius: 20%;
    font-size: 16px;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.00);
}

.main .top-bar button i {
    color: #fff;
}

.main .top-bar button:hover,
.main .control-part .control-buttons button:hover {
    box-shadow: 0.1px 8px 8px 2px rgba(0, 0, 0, 0.2);
}

.main .top-bar .modal {
    display: none;
    position: absolute;
    z-index: 2;
    left: 75px;
    top: 10px;
    background: #566573;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    width: 230px;
    height: 30px;
    cursor: pointer;
}

.main .top-bar .modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    margin-top: 18px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1;
    }
}

.main .top-bar .modal-content p {
    font-size: 10px;
}

.main .topbar .modal-content #volume_slider {
    -webkit-appearance: none;
    outline: none;
    width: 85%;
    height: 2px;
    cursor: pointer;
    position: relative;
    border-radius: 3px;
}

.main .top-bar .modal-content .range-slider input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    background: linear-gradient(to right, rgba(245, 211, 22, 0.767), rgba(245, 211, 22, 0.567));
    box-shadow: 0.1px 8px 8px 2px rgba(0, 0, 0, 0.2) inset, 0.1px 8px 8px 2px rgba(0, 0, 0, 0.2);
}

.main .playing-part {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 20px 20px;
    align-items: center;
    flex-direction: column;
    z-index: 27;
}

.main .playing-part .img {
    width: 100%;
    height: 100%;
}

.main .playing-part .img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-position: center;
    border-radius: 15px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.5);
}


/* library of all songs */

.container .song_list {
    background: transparent;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 30px;
    position: absolute;
    width: 59%;
    margin-top: 10px;
    margin-left: 40px;
    height: 80%;
    top: 0;
    left: 36%;
    border-radius: 15px;
    z-index: 25;
}

.container .song_list p {
    color: #fff;
    z-index: 100;
}

.container .song_list button {
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    outline: none;
    border-radius: 15px;
    font-size: 11px;
    background: transparent;
}

.container .song_list .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    width: 100%;
    height: 10%;
    padding: 0.5rem 0.5rem;
}

.container .song_list .top h1 {
    font-size: 18px;
}

.container .song_list .top input {
    border: none;
    outline: none;
    height: 30px;
    width: 200px;
    padding: 0.5rem 0.5rem;
    border-radius: 15px;
}

.container .song_list .library {
    width: 100%;
    height: 90%;
    border-radius: 15px;
    background: transparent;
    padding: 0.5rem 0.5rem;
    margin: 20px;
    overflow: scroll;
}

.container .song_list .library .table {
    display: none;
    width: 100%;
    border-collapse: collapse;
    margin: 30px 30px, 10px 10px;
    animation-name: showTable;
    animation-duration: .6s;
}

@keyframes showTable {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

.container .song_list .table tr th {
    background: transparent;
    border: none;
    height: 30px;
    text-align: left;
    padding: 0 10px;
    font-size: 14px;
}

.container .song_list .table tr td {
    border-bottom: 2px solid #8a8989;
    text-align: left;
    font-size: 12px;
    color: #f5f5f5;
    white-space: nowrap;
    text-overflow: "----";
    overflow: hidden;
    padding: 10px;
    height: 30px;
    width: 100%;
    cursor: pointer;
}

.container .song_list .table tr td:hover {
    color: yellow;
}

.container .song_list .table tbody td {
    vertical-align: middle;
}

.container .song_list .library {
    overflow-x: hidden;
}

.container .song_list .library .recentPlayed {
    padding: 0.5rem 0.5rem;
    margin-top: 20px;
    width: 100%;
    height: 80%;
    border-radius: 15px;
    background: transparent;
    margin-bottom: .5rem;
}

.container .song_list .library .recentPlayed h1 {
    font-size: 25px;
}

.container .song_list .library .recentPlayed .content-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    overflow-x: auto;
    border-radius: 15px;
    background: transparent;
    padding: 0.5rem 0.5rem;
}

.container .song_list .library .recentPlayed .content-song {
    width: 100%;
    height: 100%;
    padding: 0.5rem 0.5rem;
}

.container .song_list .library .recentPlayed .content-container .img {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    object-fit: cover;
    object-position: cover;
    background-position: center;
}

.container .song_list .library .recentPlayed .content-container .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: cover;
    background-position: center;
    cursor: pointer;
}

.container .song_list .library .recommended {
    margin-top: 100px;
    width: 100%;
    height: 80%;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.12);
    margin-bottom: .5rem;
    padding: .5rem .5rem;
}

.container .song_list .library .recommended h1 {
    font-size: 25px;
}

.container .song_list .library .newRelease {
    width: 100%;
    height: 70%;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.12);
    padding: .5rem .5rem;
}

.container .song_list .library .newRelease h1 {
    font-size: 25px;
}

.container .song_list button i {
    font-size: 25px;
    cursor: pointer;
}

.container .song_list button p {
    font-size: 11px;
}


/*range slider-part*/

.range-slider {
    margin-left: 30px;
    width: 46%;
    position: absolute;
    top: 84%;
    left: 46.8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.range-slider p {
    font-size: 13px;
}

.control-part #slider {
    -webkit-appearance: none;
    outline: none;
    width: 85%;
    height: 2px;
    cursor: pointer;
    position: relative;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    background: yellow;
    position: relative;
    top: -3.5px;
    box-shadow: 0.1px 8px 8px 2px rgba(0, 0, 0, 0.2);
}

input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background: #494c5538;
    height: 4px;
    border-radius: 5px;
    position: relative;
}

input[type=text]::placeholder {
    color: #949191;
    font-size: 12px;
    padding: .625rem .625rem;
}

.play-container {
    position: absolute;
    height: 10%;
    width: 50%;
    background: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 89%;
}

.play-container .control-bar {
    background: url("img/lists.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid #fff;
    border-radius: 30px;
    width: 100%;
    position: relative;
    left: 87%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.play-container .control-bar #play {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: transparent;
    border: 1px solid #fff;
    cursor: pointer;
}

.play-container .control-bar button {
    background: transparent;
    border: transparent;
    outline: transparent;
    padding: 10px 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.play-container .control-bar button i {
    font-size: 18px;
    cursor: pointer;
}

.play-container .control-bar .song-title {
    background: transparent;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.play-container .control-bar .song-title p:first-child {
    font-size: 14px;
    color: yellow;
}

.play-container .control-bar .song-title p {
    font-size: 10px;
}


/* Media queries */

@media (min-height: 680px),
screen and (orientation: portrait) {
    body {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
    }
    .container .song_list {
        position: absolute;
        top: 900px;
        left: -50px;
        width: 100%;
    }
    .main-container .extras {
        position: absolute;
        top: 710px;
        left: 18%;
    }
    .range-slider {
        left: 21%;
        top: 490px;
        z-index: 60;
        width: 250px;
    }
    .control-part #slider {
        width: 100%;
    }
    .play-container .control-bar {
        position: absolute;
        left: 35%;
        width: 350px;
        z-index: 60;
        background: transparent;
        border: transparent;
    }
    .play-container .control-bar .song-title {
        position: absolute;
        top: -150px;
        left: 22%;
        z-index: 60;
        width: 200px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .play-container .control-bar .song-title p:first-child {
        font-size: 16px;
        color: yellow;
    }
    .play-container .control-bar .song-title p {
        font-size: 12px;
    }
    .main {
        height: 100%;
        background: transparent;
        position: absolute;
        left: 17%;
    }
    .main .playing-part .img {
        height: 60%;
    }
    .main .player-overlay {
        height: 60%;
    }
    .nav-bar {
        background: transparent;
        display: flex;
        justify-content: flex-start;
    }
    .nav-logo {
        display: none;
    }
    #loader {
        position: absolute;
        left: 62%;
    }
}