html {
    font-size: 16px;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'poppins', sans-serif;
}

::-webkit-scrollbar {
    width: 4px;
    background: transparent;
}

::-webkit-scrollbar-track {
    background: transparent;
    -webkit-appearance: none;
}

::-webkit-scrollbar-thumb {
    background: #666464;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
    background: #474444;
    transition: 1.2s;
}

body {
    width: 100%;
    height: 100%;
    background: #000000;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.player-container {
    width: 100%;
    height: 100%;
    background: transparent;
    padding: 2rem 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.main-player-wrapper {
    width: 45%;
    height: 100%;
    background: transparent;
    padding: 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}


/* PAge Navigation */

.nav-bar {
    width: 100%;
    height: 60px;
    background: #000000;
    display: flex;
    justify-content: space-between;
}

.nav-bar .nav-logo h1 {
    font-family: 'poppins', sans-serif;
    text-transform: lowercase;
    font-size: 15px;
    text-align: center;
    padding-left: 25%;
}

.nav-logo {
    background: transparent;
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding: 1rem 2rem;
    text-align: center;
}

.nav-bar .nav-logo img {
    width: auto;
    height: 60px;
}

.nav-bar .nav-items {
    background: transparent;
    padding: .5rem .5rem;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.nav-bar .nav-items button {
    height: 40px;
    font-weight: 600;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: transparent;
    outline: transparent;
    transition: transform .3s;
}

.nav-bar .nav-items button:hover {
    transform: translateX(5px)
}

.nav-bar .nav-items button a {
    padding: 20px 20px;
    color: #8a8989;
    text-decoration: none;
}

.nav-bar .nav-items button a:hover {
    color: #fff;
}


/* Main player content */

.main .player-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 30;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: none;
    animation-name: overlay;
    animation-duration: .25s;
    animation-timing-function: ease-in-out;
}

@keyframes overlay {
    from {
        width: 50%;
        height: 50%;
        border-radius: 50%;
        top: 30%;
        left: 30%;
    }
    to {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

.main .player-overlay button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #8a8989;
    background: transparent;
    position: absolute;
    outline: transparent;
    top: 33.5%;
    left: 36.5%;
}

.main .player-overlay button i {
    font-size: 30px;
    color: #8a8989;
    padding: 30px 30px;
}

.main .player-overlay button i:hover {
    color: #fff;
    cursor: pointer;
}

.main .player-overlay button:hover {
    border: 3px solid #fff;
    color: #fff;
}

.main {
    width: 350px;
    height: 300px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.2);
    overflow: hidden;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 20;
}

.main-container {
    background: transparent;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 1rem;
}

.main-container .extras {
    width: 50%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    background: transparent;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0);
}

.main-container .extras .extras-items {
    width: 70%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.main-container .extras .extras-items:first-child {
    background: url("img/pods.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem 1rem;
    height: 50px;
}

.main-container .extras .extras-items:first-child a {
    color: #fff;
}

.main-container .extras .extras-items:first-child i:hover {
    color: #fff;
    transition: .1s;
    font-size: 20px;
}

.main-container .extras .extras-items:nth-child(2) {
    background: url("img/lists.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem 1rem;
    height: 50px;
    z-index: 40;
}

.main-container .extras .extras-items:nth-child(2) a {
    color: #fff;
}

.main-container .extras .extras-items:nth-child(2) i {
    color: red;
}

.main-container .extras .extras-items a {
    color: #666464;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    font-weight: 600;
    transition: transform .3s;
}

.main-container .extras .extras-items a:hover {
    transform: translateX(10px);
}

.main-container .extras .extras-items i:hover {
    cursor: pointer;
    font-size: 20px;
    transition: .1s;
}

.main .playing-part {
    background: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 1rem 1rem;
    align-items: center;
    flex-direction: column;
    z-index: 27;
}

.main .playing-part .img {
    width: 100%;
    height: 100%;
}

.main .playing-part .img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-position: center;
    border-radius: 15px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.5);
}

.song-library-wrapper {
    background: transparent;
    width: 53%;
}


/* library of all songs */

.song-library-wrapper .song_list {
    background: transparent;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    z-index: 25;
}

.song_list p {
    color: #fff;
}

.song_list button {
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    outline: none;
    border-radius: 15px;
    font-size: 11px;
    background: transparent;
}

.song_list .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    width: 100%;
    height: 10%;
    padding: 0.5rem 0.5rem;
}

.song_list .top h1 {
    font-size: 18px;
}

.song_list .top input {
    border: none;
    outline: none;
    height: 30px;
    width: 200px;
    padding: 0.5rem 0.5rem;
    border-radius: 15px;
}

.song_list .library {
    width: 100%;
    height: 90%;
    border-radius: 15px;
    background: transparent;
    padding: 0.5rem 0.5rem;
    margin: 20px;
    overflow: scroll;
}

.song_list .library .table {
    display: none;
    width: 100%;
    border-collapse: collapse;
    margin: 30px 30px, 10px 10px;
    animation-name: showTable;
    animation-duration: .6s;
}

@keyframes showTable {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

.song_list .table tr th {
    background: transparent;
    border: none;
    height: 30px;
    text-align: left;
    padding: 0 10px;
    font-size: 14px;
}

.song_list .table tr td {
    border-bottom: 2px solid #8a8989;
    text-align: left;
    font-size: 12px;
    color: #f5f5f5;
    white-space: nowrap;
    text-overflow: "----";
    overflow: hidden;
    padding: 10px;
    height: 30px;
    width: 100%;
    cursor: pointer;
}

.song_list .table tr td:hover {
    color: yellow;
}

.song_list .table tbody td {
    vertical-align: middle;
}

.song_list .library {
    overflow-x: hidden;
}

.song_list .library .recentPlayed {
    padding: 0.5rem 0.5rem;
    margin-top: 20px;
    width: 100%;
    height: 80%;
    border-radius: 15px;
    background: transparent;
    margin-bottom: .5rem;
}

.song_list .library .recentPlayed h1 {
    font-size: 25px;
}

.song_list .library .recentPlayed .content-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    overflow-x: auto;
    border-radius: 15px;
    background: transparent;
    padding: 0.5rem 0.5rem;
}

.song_list .library .recentPlayed .content-song {
    width: 100%;
    height: 100%;
    padding: 0.5rem 0.5rem;
}

.song_list .library .recentPlayed .content-container .img {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    object-fit: cover;
    object-position: cover;
    background-position: center;
}

.song_list .library .recentPlayed .content-container .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: cover;
    background-position: center;
    cursor: pointer;
}

.song_list .library .recommended {
    margin-top: 100px;
    width: 100%;
    height: 80%;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.12);
    margin-bottom: .5rem;
    padding: .5rem .5rem;
}

.song_list .library .recommended h1 {
    font-size: 25px;
}

.song_list .library .newRelease {
    width: 100%;
    height: 70%;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.12);
    padding: .5rem .5rem;
}

.song_list .library .newRelease h1 {
    font-size: 25px;
}

.song_list button i {
    font-size: 25px;
    cursor: pointer;
}

.song_list button p {
    font-size: 11px;
}


/*range slider-part*/

.range-slider {
    width: 400px;
}

.range-slider p {
    font-size: 13px;
}

.control-part {
    width: 100%;
    height: 50px;
    background: transparent;
    padding: 1rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.control-part #slider {
    -webkit-appearance: none;
    outline: none;
    width: 100%;
    height: 2px;
    cursor: pointer;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    background: yellow;
    position: relative;
    top: -3.5px;
    box-shadow: 0.1px 8px 8px 2px rgba(0, 0, 0, 0.2);
}

input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background: #494c5538;
    height: 4px;
    border-radius: 5px;
    position: relative;
}

input[type=text]::placeholder {
    color: #949191;
    font-size: 12px;
    padding: .5rem .5rem;
}

.play-container {
    height: 10%;
    width: 100%;
    background: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.play-container .control-bar {
    background: url("img/lists.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.play-container .control-bar #play {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: transparent;
    border: .1px solid #fff;
    cursor: pointer;
}

.play-container .control-bar button {
    background: transparent;
    border: transparent;
    outline: transparent;
    padding: 10px 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.play-container .control-bar button i {
    font-size: 18px;
    cursor: pointer;
}

.play-container .control-bar .song-title {
    background: transparent;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.play-container .control-bar .song-title p:first-child {
    font-size: 14px;
    color: yellow;
}

.play-container .control-bar .song-title p {
    font-size: 10px;
}